<%= stylesheet_link_tag "homes" %>
<%= stylesheet_link_tag "leftlinks" %>

<div align="center" class="divhome" id="home">
  <div class="link_to_home" id="home_header">
    <h1 class= "head1" id="logo_text">BACKCHANNEL APPLICATION</h1>
    <h2 class = "head2">New Category</h2>


    <%= render 'form' %>

    <%= link_to 'Back', categories_path %>

  </div>
</div>